
@import "normalize";
/*
@import 'base/variables';
@import 'base/global';

@import 'components/header';
@import 'components/nav';
@import 'components/aside';
@import 'components/footer';
*/

@font-face{
    font-family: 'brandon';
    src:url('../fonts/brandon_reg-webfont.woff') format('woff');
}

@font-face{
    font-family: 'icons';
    src:url('../fonts/icomoon.woff') format('woff');
}

.icon-facebook:before {
    content: "\ea90";      
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-pinterest:before {
    content: "\e900";       
}

.icon-youtube:before {
    content: "\e901";
}
.icon-rss:before {
    content: "\ea9b";
}

body{
    margin: 0;
    padding: 0;
    
    .container{
            margin: 0 auto;
            width: 1000px;
        }
        
    header{
        background: #2A2E39;
        height: 114px;
        
        .left{
            float: left;
            padding-top: 30px;
        }
        
        .right{
            float: right;
            padding-top: 35px;
        }

        h1{
            margin: 0;
            padding: 0;
            
            a{
                background:url(../images/logo.png) no-repeat;
                display: block;
                text-indent: -10000px;
                height: 33px;
                width: 241px;
            }
        }
        
        ul{
            margin: 0;
            padding: 0;
            
            li{
                border-right: 1px solid #78839f;
                display: inline;
                font-family: 'brandon';
                list-style-type: none;
                margin: 0;
                padding: 0 17px;
                
                a{
                    color: #FFF;
                    font-size: 20px;
                    //font-family: 'brandon';
                    text-decoration: none;
                    text-transform: uppercase;
                }  
                
                a:hover{
                    color: #EB6D4C; 
                }
                
                ul{
                    display: none;
                }
            } 
            
            li:last-child{
                border-right: none;
            }
        }

        nav h2{
            display: none;
        }
    }    
    
    .spotlight{
        height: 400px;
        background:url(../images/banner.jpg) no-repeat center;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        
        h2{
            display: none;
        }
        
        p{
            background: rgba(235, 108, 76, 0.8);
            color: #fff;
            font-size: 42px;
            line-height: 70px;
            margin: 0;
            padding: 10px 20px;
            text-transform: uppercase;
        }
        
        .container{
            position: relative;
            
            div{
                position: absolute;
                left: 0;
                top: 127px;
                width: 470px;
            }
        }
    }
    
    .work{
        background: #EBEBEB;
        height: 360px;
        //overflow: hidden;
        
        .container{
            h2{
                display: none;
            }
            
            article{
                width: 33%;
                float: left;
                padding-top: 10px;
                text-align: center;
                
                h3{
                    font-size: 36px;
                    font-weight: normal;
                    margin: 0;
                    text-transform: uppercase;
                    
                }
                
                p{
                    line-height: 150%;
                    font-family: 'Open Sans', sans-serif;
                    
                    a{
                        color: #EB6D4C;
                        font-size: 20px;
                        //font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    
    .portfolio{
        overflow: hidden;
        //height: 400px;
        font-family: 'Open Sans', sans-serif;
        
        *{
            margin: 0;
            padding: 0;
        }
        
        h2{
            display: none;
        }
        
        ul{
            
            li{
                float: left;
                list-style-type: none;  
                width: 20%;
                
                article{
                    position: relative;
                    
                    div{
                        background: #EB6C4C;
                        bottom: 0;
                        display: none;
                        left: 0;
                        padding-top: 30px;
                        padding-left: 30px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        
                        h3{
                            color: #FFF;
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                        
                        h3+p{
                            padding-top: 20px;
                        }
                        
                        p+p{
                            bottom: 0;
                            padding-bottom: 20px;
                            position: absolute;
                            
                            
                            a{
                                color: #FFF;
                                text-decoration: none;
                            }
                        }
                    }
                    
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
            
            li:hover{
                
                article{
                    position: relative;
                    
                    div{
                        display: block;
                    }
                }
            }
        }
    }
    
    .clients{
        background: #B6B6B6;
        height: 280px;
        
        .container{
            padding-top: 30px;
            
            h2{
                margin: 0;
                padding: 0;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size: 30px;
                text-transform: uppercase;
            }
            ul{
                margin: 0;
                margin-top: 40px;
                padding: 0;
                
                li{
                    display: inline;
                    float: left;
                    list-style-type: none;
                    margin-left: 50px;
                    
                }
            }
        }
    }
    
    footer{
        background: #2A2E39;
        height: 114px;
        
        .container{
            
            h2{
                display: none;
            }
            
            .left{
                float: left;
                padding-top: 30px;
                
                p{
                    color: #A7A7A7;
                    font-size: 16px;
                }
                
                ul{
                    margin: 0;
                    padding: 0;
                    
                    li{
                        font-family: 'brandon';  //Font family antes del border para que el tamaño quede
                        border-right: 1px solid #FFF;
                        display: inline;
                        list-style-type: none;
                        margin: 0;
                        padding: 0 10px;
                        
                        a{
                            color: #EB6D4C;
                            //font-family: 'brandon';
                            font-size: 16px;
                            text-decoration: none;
                        }  
                        
                        a:hover{
                            text-decoration: underline; 
                        }
                        
                        ul{
                            display: none;
                        }
                    } 
                    
                    li:first-child{
                        padding-left : 0;
                    }
                    
                    li:last-child{
                        border-right: none;
                    }
                }
            }
            
            .right{
                float: right;
                padding-top: 30px;
                .icons{
                    font-family: 'icons';
                    
                    a{
                        text-decoration: none;
                        
                        span{
                            background: #b6b6b6;
                            border-radius: 50%;
                            color: #292e39;
                            display: inline;
                            font-size: 17px;
                            line-height: 50px;  /** for vertical center - if needed **/
                            padding: 8px;
                            text-align: center; 
                            width: 100px; /** fix width ***/
                        }
                    }
                    
                    a:hover{
                        span{
                            background: #eb6d4c;
                        }
                    }
                }
            }
        }
    }
}




