.work{
        background: #EBEBEB;
        //height: 360px;
        overflow: hidden;
        
        .container{
            h2{
                display: none;
            }
            
            article{
                width: 33%;
                float: left;
                padding-top: 10px;
                text-align: center;
                
                h3{
                    font-size: 36px;
                    font-weight: normal;
                    margin: 0;
                    text-transform: uppercase;
                    
                }
                
                p{
                    line-height: 150%;
                    font-family: 'Open Sans', sans-serif;
                    
                    a{
                        color: $orange-bg;
                        font-size: 20px;
                        //font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }